.link {
  outline: 0;
  text-decoration: none;

  &-default,
  &-default:visited,
  &-default:active {
    color: $hyper-link-color;
    font-weight: bold;
  }

  &-default:hover {
    color: $hyper-link-hover-color;
  }

  &-highlighted {
    background-color: $light-blue;
  }
}

.link-vote {
  float: right;
  margin-top: 1em;
  padding: 0.5em;
}
